<h1>Ingresa</h1>

<form id="loginForm">
    <label>Email</label>
    <input name="email">
    <br/>
    <label>Contraseña</label>
    <input name="password">
    <br/>
    <input type="submit">
</form>

<p>También puedes ingresar por <a href="/api/sessions/github">Github</a></p>
<script src="/js/login.js"></script>